<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- Acción Notas -->
    <record id="sgm_action_note" model="ir.actions.act_window">
        <field name="name">Notas</field>
        <field name="res_model">sgm.note</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Acción Categorías -->
    <record id="sgm_action_category" model="ir.actions.act_window">
        <field name="name">Categorías</field>
        <field name="res_model">sgm.category</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Acción Etiquetas -->
    <record id="sgm_action_tag" model="ir.actions.act_window">
        <field name="name">Etiquetas</field>
        <field name="res_model">sgm.tag</field>
        <field name="view_mode">tree,form</field>
    </record>

    <!-- Menú raíz -->
    <menuitem id="sgm_menu_root"
              name="Notas compartidas"
              sequence="10"/>

    <!-- Submenús -->
    <menuitem id="sgm_menu_note"
              name="Notas"
              parent="sgm_menu_root"
              action="sgm_action_note"
              sequence="10"/>

    <menuitem id="sgm_menu_category"
              name="Categorías"
              parent="sgm_menu_root"
              action="sgm_action_category"
              sequence="20"/>

    <menuitem id="sgm_menu_tag"
              name="Etiquetas"
              parent="sgm_menu_root"
              action="sgm_action_tag"
              sequence="30"/>

</odoo>
